<!DOCTYPE html>
<html>
<head>
    <title>Soil Type Classifier</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'classifier/css/style.css' %}">
</head>

<body>

    <div class="container">

        <h1>🌱 Soil Type Classifier</h1>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <input type="file" name="image" required>

            <br><br>

            <button type="submit">
                Predict Soil Type
            </button>

        </form>

        {% if image %}

            <hr>

            <h2>Uploaded Image</h2>

            <img src="{{ image }}" width="300">

            <h2>Prediction</h2>

            <h3>{{ result }}</h3>

            <p><strong>Confidence:</strong> {{ confidence }}%</p>

        {% endif %}

    </div>

</body>
</html>