# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# User-uploaded media
media/

# Machine learning models
ml_models/